@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');


/*PALETTA DE COLORES*/
:root {
    --color-principal: #0B7A75;
    --color-secundario: #9ADAD6;
    --color-terciario: #564787;
    --color-cuarto: #101935;
    --color-fondo: #E7E1E1;
    --color-blanco: #fff;
    --color-negro: #000;
}

nav,
footer {
    font-family: 'Montserrat', sans-serif;
}

main,
.modal {
    font-family: 'Nunito Sans', sans-serif;
}

/*FONDO*/
.bg-nav {
    background-color: #9adad6ee;
}

.bg-main {
    background-color: var(--color-fondo);
}

.bg-nav-modal {
    background-color: var(--color-secundario);
}

.bg-input {
    border: 1.8px solid var(--color-principal);
}

.bg-input:focus {
    border: 2px solid var(--color-principal);
    box-shadow: 0 0 0 0.2rem var(--color-principal);
}

.container-main {
    margin-top: 7.9rem;
    padding-bottom: 3rem;
}

.productCarousel {
    height: 250px;
    object-fit: cover;
}

.container-img {
    position: relative;
}

.img-banner {
    height: 250px;
    object-fit: cover;
}

.text-carrusel {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 90%;
    color: var(--color-blanco);
}

.text-carrusel h2 {
    font-size: 2rem;
    font-weight: bold;
}

/* RESPONSIVE CARRUSEL */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .productCarousel {
        height: 390px;
    }

    .img-banner {
        height: 250px;
    }

    .text-carrusel {
        width: 80%;
    }

    .text-carrusel h2 {
        font-size: 4rem;
    }
}

@media screen and (min-width: 992px) {
    .productCarousel {
        height: 500px;
    }

    .img-banner {
        height: 350px;
    }

    .text-carrusel {
        width: 70%;
    }

    .text-carrusel h2 {
        font-size: 5rem;
    }
}


/*BUSCADOR*/
.searcher {
    width: 600px;
    height: 40px;
    background-color: var(--color-principal);
    margin: 10px 10px 30px 10px;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.searcher i {
    font-size: 1.8rem;
    color: var(--color-blanco);
}

.searcher input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    padding: 5px 10px;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding-right: 5px;
}

.searcher input::placeholder {
    color: var(--color-blanco);
}

.link-glasses {
    text-decoration: none;
    color: var(--color-principal);
    font-weight: bold;
}

.link-glasses:hover {
    color: var(--color-terciario);
}

/*CARD*/
.img-card {
    height: 250px;
    object-fit: cover;
}

.btn-personalized {
    background-color: var(--color-principal);
    color: var(--color-blanco);
}

.btn-personalized:hover {
    background-color: var(--color-terciario);
    color: var(--color-blanco);
}

.btn-personalized-2 {
    background-color: var(--color-terciario);
    color: var(--color-blanco);
}

.btn-personalized-2:hover {
    background-color: var(--color-cuarto);
    color: var(--color-blanco);
}

.publicity {
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    display: none;
}

/* RESPONSIVE CARD */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .img-card {
        height: 225px;
        object-fit: cover;
    }

    .publicity {
        height: 200px;
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .img-card {
        height: 275px;
        object-fit: cover;
    }

    .publicity {
        height: 300px;
        display: block;
    }
}

/*LOGIN */

.btn-facebook {
    font-size: 2.5rem;
    color: #41579a;
}

.btn-facebook:hover {
    font-size: 2.5rem;
    color: #15338d;
}

.btn-google {
    font-size: 2.3rem;
    color: #db4a39;
}

.btn-google:hover {
    font-size: 2.3rem;
    color: #7a271e;
}

.text-pass {
    color: #6c757d;
}

@media only screen and (max-width: 991px) {
    .article-custom {
        background: linear-gradient(to top, #627e7db7, #627e7db7),
            url("/img/img-login.webp");
        background-size: cover;
    }

    .text-pass {
        color: var(--color-fondo);
    }
}


footer {
    background: var(--color-principal);
    color: var(--color-blanco);
    padding: 05px 0px;
}


.form-check-input:checked {
    background-color: var(--color-principal);
    border-color: var(--color-secundario);
    box-shadow: 0 0 0 0.2rem var(--color-secundario);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem var(--color-secundario);
}


/* pagination */
.pagination .page-item.active .page-link {
    background-color: var(--color-principal);
    border-color: var(--color-secundario);
    color: #FFFFFF;
}

.pagination .page-item .page-link {
    background-color: var(--color-blanco);
    border-color: #E6E6E6;
    color: #333333;
}

.pagination .page-item .page-link:focus {
    box-shadow: 0 0 0 0.2rem var(--color-secundario);
}


/* ACERCA DE NOSOTROS */
.bg-main-2 {
    border-top: 10px;
    background-image: url(../img/acercaDeNosotros/virioroto.webp);
    color: var(--color-blanco);
    background-repeat: no-repeat;
    background-size: cover;
}

.imgCircle {
    border-radius: 50%;
    background-color: var(--color-blanco);
}

.containerImg {
    display: flex;
    justify-content: space-between;
}

/* COMMENT */
.bg-comment {
    background-color: var(--color-blanco);
}

.text-comment {
    font-size: large;
    font-weight: bold
}

.coloor-comment {
    color: var(--color-cuarto);
}

.border-comment {
    border: 1px solid var(--color-terciario);
    border-radius: 10px;
}

.bt-custom-hover:hover {
    background-color: var(--color-secundario);
}

.bg-coolor-comment {
    background-color: var(--color-blanco);
    color: var(--color-cuarto);
}